*.lref
*.CopyComplete
TestToolLogin/bin/Debug/Newtonsoft.Json.dll
TestToolLogin/bin/Debug/Newtonsoft.Json.xml
TestToolLogin/bin/Debug/System.Drawing.Common.dll
TestToolLogin/bin/Debug/System.Drawing.Common.xml
TestToolLogin/bin/Debug/TestToolLogin.exe
TestToolLogin/bin/Debug/TestToolLogin.exe.config
TestToolLogin/bin/Debug/TestToolLogin.pdb
TestToolLogin/bin/Debug/WebDriver.dll
TestToolLogin/bin/Debug/WebDriver.xml
TestToolLogin/bin/Debug/selenium-manager/linux/selenium-manager
TestToolLogin/bin/Debug/selenium-manager/macos/selenium-manager
TestToolLogin/bin/Debug/selenium-manager/windows/selenium-manager.exe
TestToolLogin/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
TestToolLogin/obj/Debug/App.g.cs
TestToolLogin/obj/Debug/App.g.i.cs
TestToolLogin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestToolLogin/obj/Debug/MainWindow.baml
TestToolLogin/obj/Debug/MainWindow.g.cs
TestToolLogin/obj/Debug/MainWindow.g.i.cs
TestToolLogin/obj/Debug/TestToolLogin.csproj.AssemblyReference.cache
TestToolLogin/obj/Debug/TestToolLogin.csproj.CoreCompileInputs.cache
TestToolLogin/obj/Debug/TestToolLogin.csproj.FileListAbsolute.txt
TestToolLogin/obj/Debug/TestToolLogin.csproj.GenerateResource.cache
TestToolLogin/obj/Debug/TestToolLogin.csproj.SuggestedBindingRedirects.cache
TestToolLogin/obj/Debug/TestToolLogin.exe
TestToolLogin/obj/Debug/TestToolLogin.g.resources
TestToolLogin/obj/Debug/TestToolLogin.pdb
TestToolLogin/obj/Debug/TestToolLogin.Properties.Resources.resources
TestToolLogin/obj/Debug/TestToolLogin_Content.g.cs
TestToolLogin/obj/Debug/TestToolLogin_Content.g.i.cs
TestToolLogin/obj/Debug/TestToolLogin_MarkupCompile.cache
TestToolLogin/obj/Debug/TestToolLogin_MarkupCompile.i.cache
.vs/TestToolLogin/FileContentIndex/1a7ff66c-631d-460a-9dba-10063cec6c01.vsidx
.vs/TestToolLogin/FileContentIndex/517f4a01-e863-41ed-8c5f-cf46dd300bf7.vsidx
.vs/TestToolLogin/FileContentIndex/ff03977f-becb-4f6f-8136-4e706da002b5.vsidx
.vs/TestToolLogin/FileContentIndex/read.lock
.vs/TestToolLogin/v17/.suo
packages/Newtonsoft.Json.13.0.1/.signature.p7s
packages/Newtonsoft.Json.13.0.1/LICENSE.md
packages/Newtonsoft.Json.13.0.1/Newtonsoft.Json.13.0.1.nupkg
packages/Newtonsoft.Json.13.0.1/packageIcon.png
packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
packages/Selenium.WebDriver.4.14.1/.signature.p7s
packages/Selenium.WebDriver.4.14.1/Selenium.WebDriver.4.14.1.nupkg
packages/Selenium.WebDriver.4.14.1/build/Selenium.WebDriver.targets
packages/Selenium.WebDriver.4.14.1/buildTransitive/Selenium.WebDriver.targets
packages/Selenium.WebDriver.4.14.1/images/icon.png
packages/Selenium.WebDriver.4.14.1/lib/netstandard2.0/WebDriver.dll
packages/Selenium.WebDriver.4.14.1/lib/netstandard2.0/WebDriver.xml
packages/Selenium.WebDriver.4.14.1/manager/linux/selenium-manager
packages/Selenium.WebDriver.4.14.1/manager/macos/selenium-manager
packages/Selenium.WebDriver.4.14.1/manager/windows/selenium-manager.exe
packages/System.Drawing.Common.7.0.0/.signature.p7s
packages/System.Drawing.Common.7.0.0/Icon.png
packages/System.Drawing.Common.7.0.0/LICENSE.TXT
packages/System.Drawing.Common.7.0.0/System.Drawing.Common.7.0.0.nupkg
packages/System.Drawing.Common.7.0.0/THIRD-PARTY-NOTICES.TXT
packages/System.Drawing.Common.7.0.0/useSharedDesignerContext.txt
packages/System.Drawing.Common.7.0.0/buildTransitive/net461/System.Drawing.Common.targets
packages/System.Drawing.Common.7.0.0/buildTransitive/net462/_._
packages/System.Drawing.Common.7.0.0/buildTransitive/net6.0/_._
packages/System.Drawing.Common.7.0.0/buildTransitive/netcoreapp2.0/System.Drawing.Common.targets
packages/System.Drawing.Common.7.0.0/lib/MonoAndroid10/_._
packages/System.Drawing.Common.7.0.0/lib/MonoTouch10/_._
packages/System.Drawing.Common.7.0.0/lib/net462/System.Drawing.Common.dll
packages/System.Drawing.Common.7.0.0/lib/net462/System.Drawing.Common.xml
packages/System.Drawing.Common.7.0.0/lib/net6.0/System.Drawing.Common.dll
packages/System.Drawing.Common.7.0.0/lib/net6.0/System.Drawing.Common.xml
packages/System.Drawing.Common.7.0.0/lib/net7.0/System.Drawing.Common.dll
packages/System.Drawing.Common.7.0.0/lib/net7.0/System.Drawing.Common.xml
packages/System.Drawing.Common.7.0.0/lib/netstandard2.0/System.Drawing.Common.dll
packages/System.Drawing.Common.7.0.0/lib/netstandard2.0/System.Drawing.Common.xml
packages/System.Drawing.Common.7.0.0/lib/xamarinios10/_._
packages/System.Drawing.Common.7.0.0/lib/xamarinmac20/_._
packages/System.Drawing.Common.7.0.0/lib/xamarintvos10/_._
packages/System.Drawing.Common.7.0.0/lib/xamarinwatchos10/_._
packages/System.Drawing.Common.7.0.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
packages/System.Drawing.Common.7.0.0/runtimes/win/lib/net6.0/System.Drawing.Common.xml
packages/System.Drawing.Common.7.0.0/runtimes/win/lib/net7.0/System.Drawing.Common.dll
packages/System.Drawing.Common.7.0.0/runtimes/win/lib/net7.0/System.Drawing.Common.xml
/packages/CsvHelper.30.0.1/.signature.p7s
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/.signature.p7s
/packages/Microsoft.Bcl.HashCode.1.0.0/.signature.p7s
/packages/Microsoft.CSharp.4.3.0/.signature.p7s
/packages/Microsoft.CSharp.4.3.0/lib/MonoAndroid10/_._
/packages/Microsoft.CSharp.4.3.0/lib/MonoTouch10/.gitignore
/packages/Microsoft.CSharp.4.3.0/lib/net45/.gitignore
/packages/Microsoft.CSharp.4.3.0/lib/portable-net45+win8+wp8+wpa81/.gitignore
/packages/Microsoft.CSharp.4.3.0/lib/win8/.gitignore
/packages/Microsoft.CSharp.4.3.0/lib/wp80/.gitignore
/packages/Microsoft.CSharp.4.3.0/lib/wpa81/.gitignore
/packages/Microsoft.CSharp.4.3.0/lib/xamarinios10/.gitignore
/packages/Microsoft.CSharp.4.3.0/lib/xamarinmac20/.gitignore
/packages/Microsoft.CSharp.4.3.0/lib/xamarintvos10/.gitignore
/packages/Microsoft.CSharp.4.3.0/lib/xamarinwatchos10/.gitignore
/packages/Microsoft.CSharp.4.3.0/ref/MonoAndroid10/.gitignore
/packages/Microsoft.CSharp.4.3.0/ref/MonoTouch10/_._
/packages/Microsoft.CSharp.4.3.0/ref/net45/_._
/packages/Microsoft.CSharp.4.3.0/ref/portable-net45+win8+wp8+wpa81/_._
/packages/Microsoft.CSharp.4.3.0/ref/win8/_._
/packages/Microsoft.CSharp.4.3.0/ref/wp80/_._
/packages/Microsoft.CSharp.4.3.0/ref/wpa81/_._
/packages/Microsoft.CSharp.4.3.0/ref/xamarinios10/_._
/packages/Microsoft.CSharp.4.3.0/ref/xamarinmac20/_._
/packages/Microsoft.CSharp.4.3.0/ref/xamarintvos10/_._
/packages/Microsoft.CSharp.4.3.0/ref/xamarinwatchos10/_._
/packages/System.Buffers.4.4.0/.signature.p7s
/packages/System.Buffers.4.4.0/lib/netcoreapp2.0/_._
/packages/System.Buffers.4.4.0/ref/netcoreapp2.0/_._
/packages/System.Memory.4.5.0/.signature.p7s
/packages/System.Memory.4.5.0/lib/MonoAndroid10/_._
/packages/System.Numerics.Vectors.4.4.0/.signature.p7s
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/.signature.p7s
/packages/System.Threading.Tasks.Extensions.4.5.2/.signature.p7s
*._
/TestToolLogin/CsvHelper.cs
/TestToolLogin/bin/Debug/CsvHelper.dll
/TestToolLogin/bin/Debug/CsvHelper.xml
/TestToolLogin/bin/Debug/ListUserSendMessage.csv
/TestToolLogin/bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
/TestToolLogin/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
/TestToolLogin/bin/Debug/Microsoft.Bcl.HashCode.dll
/TestToolLogin/bin/Debug/Microsoft.Bcl.HashCode.xml
/TestToolLogin/bin/Debug/System.Buffers.dll
/TestToolLogin/bin/Debug/System.Buffers.xml
/TestToolLogin/bin/Debug/System.Memory.dll
/TestToolLogin/bin/Debug/System.Memory.xml
/TestToolLogin/bin/Debug/System.Numerics.Vectors.dll
/TestToolLogin/bin/Debug/System.Numerics.Vectors.xml
/TestToolLogin/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/TestToolLogin/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/TestToolLogin/bin/Debug/System.Threading.Tasks.Extensions.dll
/TestToolLogin/bin/Debug/System.Threading.Tasks.Extensions.xml
/packages/CsvHelper.30.0.1/CsvHelper.30.0.1.nupkg
/packages/CsvHelper.30.0.1/Icon.png
/packages/CsvHelper.30.0.1/lib/net45/CsvHelper.dll
/packages/CsvHelper.30.0.1/lib/net45/CsvHelper.xml
/packages/CsvHelper.30.0.1/lib/net47/CsvHelper.dll
/packages/CsvHelper.30.0.1/lib/net47/CsvHelper.xml
/packages/CsvHelper.30.0.1/lib/net5.0/CsvHelper.dll
/packages/CsvHelper.30.0.1/lib/net5.0/CsvHelper.xml
/packages/CsvHelper.30.0.1/lib/net6.0/CsvHelper.dll
/packages/CsvHelper.30.0.1/lib/net6.0/CsvHelper.xml
/packages/CsvHelper.30.0.1/lib/netstandard2.0/CsvHelper.dll
/packages/CsvHelper.30.0.1/lib/netstandard2.0/CsvHelper.xml
/packages/CsvHelper.30.0.1/lib/netstandard2.1/CsvHelper.dll
/packages/CsvHelper.30.0.1/lib/netstandard2.1/CsvHelper.xml
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/LICENSE.TXT
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/Microsoft.Bcl.AsyncInterfaces.1.0.0.nupkg
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/THIRD-PARTY-NOTICES.TXT
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/lib/net461/Microsoft.Bcl.AsyncInterfaces.dll
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/lib/net461/Microsoft.Bcl.AsyncInterfaces.xml
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/lib/netstandard2.0/Microsoft.Bcl.AsyncInterfaces.dll
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/lib/netstandard2.0/Microsoft.Bcl.AsyncInterfaces.xml
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/lib/netstandard2.1/Microsoft.Bcl.AsyncInterfaces.dll
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/lib/netstandard2.1/Microsoft.Bcl.AsyncInterfaces.xml
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/ref/net461/Microsoft.Bcl.AsyncInterfaces.dll
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/ref/netstandard2.0/Microsoft.Bcl.AsyncInterfaces.dll
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/ref/netstandard2.1/Microsoft.Bcl.AsyncInterfaces.dll
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/useSharedDesignerContext.txt
/packages/Microsoft.Bcl.AsyncInterfaces.1.0.0/version.txt
/packages/Microsoft.Bcl.HashCode.1.0.0/LICENSE.TXT
/packages/Microsoft.Bcl.HashCode.1.0.0/Microsoft.Bcl.HashCode.1.0.0.nupkg
/packages/Microsoft.Bcl.HashCode.1.0.0/THIRD-PARTY-NOTICES.TXT
/packages/Microsoft.Bcl.HashCode.1.0.0/lib/net461/Microsoft.Bcl.HashCode.dll
/packages/Microsoft.Bcl.HashCode.1.0.0/lib/net461/Microsoft.Bcl.HashCode.xml
/packages/Microsoft.Bcl.HashCode.1.0.0/lib/netcoreapp2.1/Microsoft.Bcl.HashCode.dll
/packages/Microsoft.Bcl.HashCode.1.0.0/lib/netcoreapp2.1/Microsoft.Bcl.HashCode.xml
/packages/Microsoft.Bcl.HashCode.1.0.0/lib/netstandard2.0/Microsoft.Bcl.HashCode.dll
/packages/Microsoft.Bcl.HashCode.1.0.0/lib/netstandard2.0/Microsoft.Bcl.HashCode.xml
/packages/Microsoft.Bcl.HashCode.1.0.0/lib/netstandard2.1/Microsoft.Bcl.HashCode.dll
/packages/Microsoft.Bcl.HashCode.1.0.0/lib/netstandard2.1/Microsoft.Bcl.HashCode.xml
/packages/Microsoft.Bcl.HashCode.1.0.0/ref/net461/Microsoft.Bcl.HashCode.dll
/packages/Microsoft.Bcl.HashCode.1.0.0/ref/netcoreapp2.1/Microsoft.Bcl.HashCode.dll
/packages/Microsoft.Bcl.HashCode.1.0.0/ref/netstandard2.0/Microsoft.Bcl.HashCode.dll
/packages/Microsoft.Bcl.HashCode.1.0.0/ref/netstandard2.1/Microsoft.Bcl.HashCode.dll
/packages/Microsoft.Bcl.HashCode.1.0.0/useSharedDesignerContext.txt
/packages/Microsoft.Bcl.HashCode.1.0.0/version.txt
/packages/Microsoft.CSharp.4.3.0/Microsoft.CSharp.4.3.0.nupkg
/packages/Microsoft.CSharp.4.3.0/ThirdPartyNotices.txt
/packages/Microsoft.CSharp.4.3.0/dotnet_library_license.txt
/packages/Microsoft.CSharp.4.3.0/lib/netcore50/Microsoft.CSharp.dll
/packages/Microsoft.CSharp.4.3.0/lib/netstandard1.3/Microsoft.CSharp.dll
/packages/Microsoft.CSharp.4.3.0/ref/netcore50/Microsoft.CSharp.dll
/packages/Microsoft.CSharp.4.3.0/ref/netcore50/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netcore50/de/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netcore50/es/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netcore50/fr/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netcore50/it/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netcore50/ja/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netcore50/ko/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netcore50/ru/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netcore50/zh-hans/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netcore50/zh-hant/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netstandard1.0/Microsoft.CSharp.dll
/packages/Microsoft.CSharp.4.3.0/ref/netstandard1.0/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netstandard1.0/de/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netstandard1.0/es/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netstandard1.0/fr/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netstandard1.0/it/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netstandard1.0/ja/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netstandard1.0/ko/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netstandard1.0/ru/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netstandard1.0/zh-hans/Microsoft.CSharp.xml
/packages/Microsoft.CSharp.4.3.0/ref/netstandard1.0/zh-hant/Microsoft.CSharp.xml
/packages/System.Buffers.4.4.0/LICENSE.TXT
/packages/System.Buffers.4.4.0/System.Buffers.4.4.0.nupkg
/packages/System.Buffers.4.4.0/THIRD-PARTY-NOTICES.TXT
/packages/System.Buffers.4.4.0/lib/netstandard1.1/System.Buffers.dll
/packages/System.Buffers.4.4.0/lib/netstandard1.1/System.Buffers.xml
/packages/System.Buffers.4.4.0/lib/netstandard2.0/System.Buffers.dll
/packages/System.Buffers.4.4.0/lib/netstandard2.0/System.Buffers.xml
/packages/System.Buffers.4.4.0/ref/netstandard1.1/System.Buffers.dll
/packages/System.Buffers.4.4.0/ref/netstandard1.1/System.Buffers.xml
/packages/System.Buffers.4.4.0/ref/netstandard2.0/System.Buffers.dll
/packages/System.Buffers.4.4.0/ref/netstandard2.0/System.Buffers.xml
/packages/System.Buffers.4.4.0/useSharedDesignerContext.txt
/packages/System.Buffers.4.4.0/version.txt
/packages/System.Memory.4.5.0/LICENSE.TXT
/packages/System.Memory.4.5.0/System.Memory.4.5.0.nupkg
/packages/System.Memory.4.5.0/THIRD-PARTY-NOTICES.TXT
/packages/System.Memory.4.5.0/lib/netstandard1.1/System.Memory.dll
/packages/System.Memory.4.5.0/lib/netstandard1.1/System.Memory.xml
/packages/System.Memory.4.5.0/lib/netstandard2.0/System.Memory.dll
/packages/System.Memory.4.5.0/lib/netstandard2.0/System.Memory.xml
/packages/System.Memory.4.5.0/ref/netstandard1.1/System.Memory.dll
/packages/System.Memory.4.5.0/ref/netstandard1.1/System.Memory.xml
/packages/System.Memory.4.5.0/ref/netstandard2.0/System.Memory.dll
/packages/System.Memory.4.5.0/ref/netstandard2.0/System.Memory.xml
/packages/System.Memory.4.5.0/useSharedDesignerContext.txt
/packages/System.Memory.4.5.0/version.txt
/packages/System.Numerics.Vectors.4.4.0/LICENSE.TXT
/packages/System.Numerics.Vectors.4.4.0/System.Numerics.Vectors.4.4.0.nupkg
/packages/System.Numerics.Vectors.4.4.0/THIRD-PARTY-NOTICES.TXT
/packages/System.Numerics.Vectors.4.4.0/lib/net46/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/lib/net46/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/lib/netstandard1.0/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/lib/netstandard1.0/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/lib/netstandard2.0/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/lib/netstandard2.0/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/ref/net46/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/ref/net46/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/ref/netstandard1.0/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/ref/netstandard1.0/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/ref/netstandard2.0/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/ref/netstandard2.0/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/useSharedDesignerContext.txt
/packages/System.Numerics.Vectors.4.4.0/version.txt
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/LICENSE.TXT
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/System.Runtime.CompilerServices.Unsafe.4.5.2.nupkg
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/THIRD-PARTY-NOTICES.TXT
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/useSharedDesignerContext.txt
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/version.txt
/packages/System.Threading.Tasks.Extensions.4.5.2/LICENSE.TXT
/packages/System.Threading.Tasks.Extensions.4.5.2/System.Threading.Tasks.Extensions.4.5.2.nupkg
/packages/System.Threading.Tasks.Extensions.4.5.2/THIRD-PARTY-NOTICES.TXT
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/netstandard1.0/System.Threading.Tasks.Extensions.dll
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/netstandard1.0/System.Threading.Tasks.Extensions.xml
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/netstandard2.0/System.Threading.Tasks.Extensions.dll
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/netstandard2.0/System.Threading.Tasks.Extensions.xml
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.dll
/packages/System.Threading.Tasks.Extensions.4.5.2/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.xml
/packages/System.Threading.Tasks.Extensions.4.5.2/useSharedDesignerContext.txt
/packages/System.Threading.Tasks.Extensions.4.5.2/version.txt
